<!DOCTYPE html ">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ARMADOPC</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/css/coin-slider.css" />
<script type="text/javascript" src="/static/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/js/droid_sans_400-droid_sans_700.font.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script type="text/javascript" src="/static/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
  <!-- *****************HEADER****************-->
  <div class="header">
    <div class="header_resize">
      
      
      <div class="logo">
        <h1><a href="index.html"><span>Sistema</span> del administrador ARMADOPC </a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div class="logeo">
          {% block logeo %}
          {% endblock %}
        </div>
        
      </div>
        <div class="clr"></div>
        <br>
        <br>
        <br>
        <center>
        {% block container %}
        {% endblock %} 
        </center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="clr"></div> 


  </div>
        


</div>


</body>
</html>